{%- import "macros.j2" as macros with context -%}
#!/bin/bash

set -o errexit

tmp=$(mktemp -d /tmp/mytest.XXXXX)
cd $tmp

{{ macros.create_venv() }}

pip install --quiet \
    bump2version \
    click \
    cookiecutter \
    pandoc \
    pypandoc \
    twine \
    wheel \
    --upgrade pip

cookiecutter --no-input \
             https://github.com/audreyfeldroy/cookiecutter-pypackage.git \
             project_name={{ data.project_name }}

cd $tmp/{{ data.project_name }}
git init --quiet
git add -A
git commit --quiet --all --message "Boilerplate"
