{%- import "macros.j2" as macros with context -%}
#!/bin/bash
set -o errexit

tmp2=$(mktemp -d /tmp/mytest.XXXXX)
cd $tmp2

{{ macros.create_venv() }} 

pip install --quiet wheel twine
pip install --quiet --editable $tmp/{{ data.project_name }}
pip list
