bash -x /tmp/doit.sh
make dist
python3 -m twine upload --repository-url https://test.pypi.org/legacy/ dist/*

tmp3=$(mktemp -d /tmp/mytest.XXXXX)
cd $tmp3
deactivate 2>/dev/null || true
python3 -mvenv .venv
source .venv/bin/activate
# pip install -i https://test.pypi.org/simple/ monacelli-pylog-prefs==0.3.0
# pip install -i https://test.pypi.org/simple/ monacelli-pylog-prefs
# pip install monacelli-pylog-prefs==0.1.0
pip install monacelli_pylog_prefs
project_name=monacelli_pylog_prefs
cat <<__eot__ >test.py
import logging
import pathlib

import $project_name.logger


def main():
    $project_name.logger.setup(filename=f"{pathlib.Path(__file__).stem}.log", stream_level=logging.DEBUG)
    logging.debug("all good")
    logging.warning("uh-oh")

if __name__ == '__main__':
    main()
__eot__
pip list
python test.py
ls -ltr *.log

cat test.py
