{%- import "macros.j2" as macros with context -%}
#!/bin/bash
set -o errexit

tmp=$(mktemp -d /tmp/mytest.XXXXX)
cd $tmp

# repo={{ data.project_name }} && git clone git@github.com:TaylorMonacelli/$repo && cd $repo

{{ macros.create_venv() }}

pip install --quiet \
    bump2version \
    click \
    cookiecutter \
    pandoc \
    pypandoc \
    twine \
    wheel \
    --upgrade pip

# ensure this variable is not empty
echo $TWINE_USERNAME


# edit/tweak
# vim edit file, blah


git commit -am "my update works as expected"
bump2version minor
make dist

python3 -m twine upload --repository-url https://test.pypi.org/legacy/ dist/*

# assuming that works

# test


make release

git push
